In [1]:
import pandas as pd

In [2]:
!pwd

/Users/sanganichaitanya/Downloads/Pers/workshop/pandas-tutorial

## Reading different file formats

In [4]:
trips_data = pd.read_csv("datasets/biketrip.csv")

In [5]:
trips_data

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,NaN
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103
5,4927,103,8/29/2013 18:54,Golden Gate at Polk,59,8/29/2013 18:56,Golden Gate at Polk,59,527,Subscriber,94109
6,4500,109,8/29/2013 13:25,Santa Clara at Almaden,4,8/29/2013 13:27,Adobe on Almaden,5,679,Subscriber,95112
7,4563,111,8/29/2013 14:02,San Salvador at 1st,8,8/29/2013 14:04,San Salvador at 1st,8,687,Subscriber,95112
8,4760,113,8/29/2013 17:01,South Van Ness at Market,66,8/29/2013 17:03,South Van Ness at Market,66,553,Subscriber,94103
9,4258,114,8/29/2013 11:33,San Jose City Hall,10,8/29/2013 11:35,MLK Library,11,107,Subscriber,95060
10,4549,125,8/29/2013 13:52,Spear at Folsom,49,8/29/2013 13:55,Embarcadero at Bryant,54,368,Subscriber,94109
11,4498,126,8/29/2013 13:23,San Pedro Square,6,8/29/2013 13:25,Santa Clara at Almaden,4,26,Subscriber,95112
12,4965,129,8/29/2013 19:32,Mountain View Caltrain Station,28,8/29/2013 19:35,Mountain View Caltrain Station,28,140,Subscriber,94041
13,4557,130,8/29/2013 13:57,2nd at South Park,64,8/29/2013 13:59,2nd at South Park,64,371,Subscriber,94122
14,4386,134,8/29/2013 12:31,Clay at Battery,41,8/29/2013 12:33,Beale at Market,56,503,Subscriber,94109
15,4749,138,8/29/2013 16:57,Post at Kearney,47,8/29/2013 16:59,Post at Kearney,47,408,Subscriber,94117
16,4242,141,8/29/2013 11:25,San Jose City Hall,10,8/29/2013 11:27,San Jose City Hall,10,26,Subscriber,95060
17,4329,142,8/29/2013 12:11,Market at 10th,67,8/29/2013 12:14,Market at 10th,67,319,Subscriber,94103
18,5097,142,8/29/2013 22:21,Steuart at Market,74,8/29/2013 22:24,Harry Bridges Plaza (Ferry Building),50,564,Subscriber,94115
19,5084,144,8/29/2013 22:06,Powell Street BART,39,8/29/2013 22:08,Market at 4th,76,574,Subscriber,94115
20,4982,146,8/29/2013 19:42,Spear at Folsom,49,8/29/2013 19:44,Embarcadero at Bryant,54,542,Subscriber,94105
21,4417,148,8/29/2013 12:45,Redwood City Caltrain Station,22,8/29/2013 12:48,Redwood City Caltrain Station,22,159,Subscriber,94061
22,4265,151,8/29/2013 11:40,San Francisco City Hall,58,8/29/2013 11:42,San Francisco City Hall,58,520,Subscriber,94110
23,5093,160,8/29/2013 22:12,Post at Kearney,47,8/29/2013 22:14,Market at Sansome,77,442,Subscriber,94115
24,4168,161,8/29/2013 10:56,Beale at Market,56,8/29/2013 10:59,Steuart at Market,74,414,Customer,94117
25,4550,163,8/29/2013 13:53,Japantown,9,8/29/2013 13:56,Japantown,9,684,Subscriber,95112
26,4533,165,8/29/2013 13:43,Temporary Transbay Terminal (Howard at Beale),55,8/29/2013 13:46,Embarcadero at Folsom,51,365,Subscriber,94109
27,4510,166,8/29/2013 13:31,San Jose Civic Center,3,8/29/2013 13:34,San Salvador at 1st,8,661,Subscriber,95112
28,5070,168,8/29/2013 21:43,South Van Ness at Market,66,8/29/2013 21:46,South Van Ness at Market,66,598,Subscriber,94115
29,4917,169,8/29/2013 18:45,Redwood City Medical Center,26,8/29/2013 18:48,Broadway at Main,25,229,Subscriber,94041
...,...,...,...,...,...,...,...,...,...,...,...
669929,433003,518,9/1/2014 9:30,Ryland Park,84,9/1/2014 9:38,San Jose Civic Center,3,161,Subscriber,5112
669930,433002,23767,9/1/2014 9:29,Market at 4th,76,9/1/2014 16:05,Powell at Post (Union Square),71,625,Customer,31100
669931,433001,23783,9/1/2014 9:29,Market at 4th,76,9/1/2014 16:05,Powell at Post (Union Square),71,878,Customer,31100
669932,432999,661,9/1/2014 9:18,South Van Ness at Market,66,9/1/2014 9:29,Market at Sansome,77,470,Subscriber,94103
669933,432998,321,9/1/2014 9:16,Market at 10th,67,9/1/2014 9:22,Powell Street BART,39,421,Subscriber,94107
669934,432996,437,9/1/2014 8:58,Grant Avenue at Columbus Avenue,73,9/1/2014 9:05,Howard at 2nd,63,313,Subscriber,94133
669935,432995,7508,9/1/2014 8:55,Powell at Post (Union Square),71,9/1/2014 11:00,Powell at Post (Union Square),71,535,Customer,nil
669936,432994,7503,9/1/2014 8:55,Powell at Post (Union Square),71,9/1/2014 11:00,Powell at Post (Union Square),71,400,Customer,nil
669937,432991,314,9/1/2014 8:49,Market at 4th,76,9/1/2014 8:54,San Francisco Caltrain (Townsend at 4th),70,575,Subscriber,94080
669938,432985,419,9/1/2014 8:41,Embarcadero at Vallejo,48,9/1/2014 8:48,Embarcadero at Sansome,60,285,Customer,1
669939,432981,1536,9/1/2014 8:31,Market at 4th,76,9/1/2014 8:57,Embarcadero at Sansome,60,317,Customer,nil
669940,432980,1545,9/1/2014 8:31,Market at 4th,76,9/1/2014 8:57,Embarcadero at Sansome,60,590,Customer,nil
669941,432979,1290,9/1/2014 8:30,Davis at Jackson,42,9/1/2014 8:52,Davis at Jackson,42,462,Subscriber,94111
669942,432978,630,9/1/2014 8:26,Embarcadero at Bryant,54,9/1/2014 8:36,Embarcadero at Sansome,60,566,Subscriber,94105
669943,432977,333,9/1/2014 8:24,Market at 10th,67,9/1/2014 8:29,Powell Street BART,39,578,Subscriber,94103
669944,432972,6937,9/1/2014 8:16,Post at Kearny,47,9/1/2014 10:12,Market at Sansome,77,357,Customer,nil
669945,432971,450,9/1/2014 8:12,Steuart at Market,74,9/1/2014 8:19,Embarcadero at Sansome,60,375,Subscriber,94066
669946,432967,161,9/1/2014 8:11,Embarcadero at Folsom,51,9/1/2014 8:14,Harry Bridges Plaza (Ferry Building),50,496,Subscriber,94105
669947,432966,17396,9/1/2014 7:37,Mountain View City Hall,27,9/1/2014 12:27,Mountain View City Hall,27,140,Customer,94085
669948,432965,17297,9/1/2014 7:37,Mountain View City Hall,27,9/1/2014 12:25,Mountain View City Hall,27,57,Customer,94085
669949,432964,169,9/1/2014 7:32,Embarcadero at Bryant,54,9/1/2014 7:35,Embarcadero at Folsom,51,496,Subscriber,94105
669950,432960,5667,9/1/2014 7:03,Japantown,9,9/1/2014 8:38,Japantown,9,56,Customer,95112
669951,432959,441,9/1/2014 6:58,Market at 10th,67,9/1/2014 7:05,Market at Sansome,77,617,Subscriber,94132
669952,432957,398,9/1/2014 5:54,Yerba Buena Center of the Arts (3rd @ Howard),68,9/1/2014 6:00,Steuart at Market,74,561,Subscriber,94112
669953,432952,240,9/1/2014 4:59,South Van Ness at Market,66,9/1/2014 5:03,Civic Center BART (7th at Market),72,292,Subscriber,94102
669954,432951,619,9/1/2014 4:21,Powell Street BART,39,9/1/2014 4:32,Townsend at 7th,65,335,Subscriber,94118
669955,432950,6712,9/1/2014 3:16,Harry Bridges Plaza (Ferry Building),50,9/1/2014 5:08,San Francisco Caltrain (Townsend at 4th),70,259,Customer,44100
669956,432949,538,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:14,5th at Howard,57,466,Customer,32
669957,432948,568,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,461,Customer,32
669958,432947,569,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,318,Customer,32

In [7]:
type(trips_data)

pandas.core.frame.DataFrame

In [22]:
top_trips_data = pd.read_json("../datasets/biketrip.json", orient = 'split')

In [23]:
type(top_trips_data)

pandas.core.frame.DataFrame

**Can checkout about all the arguements of the function like this**
> ? pd.read_csv

- Pandas can read from over **15 file formats** including html, sql and sas (try with tab)

## Exploring the data

In [24]:
trips_data.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
573566,568474,17270400,12/6/2014 21:59,South Van Ness at Market,66,6/24/2015 20:18,2nd at Folsom,62,535,Customer,95531
382718,825850,2137000,6/28/2015 21:50,Market at Sansome,77,7/23/2015 15:27,Yerba Buena Center of the Arts (3rd @ Howard),68,466,Customer,97213
440339,750192,1852590,5/2/2015 6:17,San Antonio Shopping Center,31,5/23/2015 16:53,Castro Street and El Camino Real,32,680,Subscriber,94024
371066,841176,1133540,7/10/2015 10:35,University and Emerson,35,7/23/2015 13:27,University and Emerson,35,262,Customer,94306
80510,111309,722236,11/30/2013 13:29,University and Emerson,35,12/8/2013 22:06,University and Emerson,35,247,Customer,94301

In [25]:
trips_data.tail(10)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
40000,57581,60,10/14/2013 14:47,Clay at Battery,41,10/14/2013 14:48,Clay at Battery,41,368,Subscriber,94158
597389,534343,60,11/7/2014 9:45,Temporary Transbay Terminal (Howard at Beale),55,11/7/2014 9:46,Temporary Transbay Terminal (Howard at Beale),55,300,Subscriber,94107
194364,362788,60,7/14/2014 14:09,Powell Street BART,39,7/14/2014 14:10,Powell Street BART,39,372,Subscriber,94102
633879,483333,60,10/4/2014 19:21,Yerba Buena Center of the Arts (3rd @ Howard),68,10/4/2014 19:22,Yerba Buena Center of the Arts (3rd @ Howard),68,560,Customer,nil
10457,18792,60,9/12/2013 10:09,Civic Center BART (7th at Market),72,9/12/2013 10:10,Civic Center BART (7th at Market),72,632,Subscriber,94103
326026,900176,60,8/21/2015 13:24,Temporary Transbay Terminal (Howard at Beale),55,8/21/2015 13:25,Temporary Transbay Terminal (Howard at Beale),55,522,Subscriber,94109
450401,736948,60,4/22/2015 17:47,Embarcadero at Folsom,51,4/22/2015 17:48,Embarcadero at Folsom,51,585,Subscriber,94103
72159,100171,60,11/18/2013 15:01,Temporary Transbay Terminal (Howard at Beale),55,11/18/2013 15:02,Temporary Transbay Terminal (Howard at Beale),55,469,Subscriber,94158
511423,652693,60,2/21/2015 12:45,Powell Street BART,39,2/21/2015 12:46,Powell Street BART,39,532,Customer,92111
2925,8651,60,9/2/2013 10:50,San Francisco Caltrain 2 (330 Townsend),69,9/2/2013 10:51,San Francisco Caltrain 2 (330 Townsend),69,544,Subscriber,94107

In [26]:
trips_data.shape # (rows, columns)

(669959, 11)

In [27]:
trips_data.describe()

,id,duration,start_station_id,end_station_id,bike_id
count,669959.000000,6.699590e+05,669959.000000,669959.000000,669959.000000
mean,460382.009899,1.107950e+03,57.851876,57.837438,427.587620
std,264584.458487,2.225544e+04,17.112474,17.200142,153.450988
min,4069.000000,6.000000e+01,2.000000,2.000000,9.000000
25%,231082.500000,3.440000e+02,50.000000,50.000000,334.000000
50%,459274.000000,5.170000e+02,62.000000,62.000000,440.000000
75%,692601.000000,7.550000e+02,70.000000,70.000000,546.000000
max,913460.000000,1.727040e+07,84.000000,84.000000,878.000000

In [28]:
trips_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669959 entries, 573566 to 2925
Data columns (total 11 columns):
id                    669959 non-null int64
duration              669959 non-null int64
start_date            669959 non-null object
start_station_name    669959 non-null object
start_station_id      669959 non-null int64
end_date              669959 non-null object
end_station_name      669959 non-null object
end_station_id        669959 non-null int64
bike_id               669959 non-null int64
subscription_type     669959 non-null object
zip_code              661650 non-null object
dtypes: int64(5), object(6)
memory usage: 61.3+ MB

In [46]:
trips_data['start_station_id'].unique()

array([66, 77, 31, 35, 22, 50, 14, 34,  3,  2, 36,  6, 29, 33, 28, 32, 26,
        9, 76, 67, 42, 27, 39, 38, 73, 12, 41, 72,  5,  7, 47, 62, 56, 57,
       58, 63, 37, 74, 60,  4, 75, 65, 71, 48, 10, 61, 55, 80, 51, 11, 54,
       68, 16, 13, 49,  8, 83, 46, 70, 24, 45, 84, 69, 23, 64, 82, 30, 59,
       25, 21])

In [47]:
trips_data['start_station_id'].unique().shape

(70,)

In [48]:
trips_data['start_station_id'].nunique()

70

In [29]:
trips_data.dtypes # Note the dtypes mentioned - datetime objects will be dealt later

id                     int64
duration               int64
start_date            object
start_station_name    object
start_station_id       int64
end_date              object
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

## Summary

- Reading from different formats

- Exploring the data
    - quantitative: Shape, head
    - qualitative: info, describe, dtypes, unique, nunique

# Exercise

### P01 Basics - Read the file '../datasets/food prices dataset.json' to variable trips_data

In [ ]:
%load "solutions/P01_Basics.py"

### P02 Basics - How many rows in the Dataframe ?

In [ ]:
%load "solutions/P02_Basics.py"

### P03 Basics - What is the mean duration of all the trips?

In [ ]:
%load "solutions/P03_Basics.py"

### P04 Basics - How many bikes are there in total?

In [ ]:
%load "solutions/P04_Basics.py"

### P05 Basics - How many null values are there in zip code?

In [ ]:
%load "solutions/P05_Basics.py"